<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DeveloperMode" value="false" />
		<add key="AppUniqueId" value="GUID" />
		<add key="EmailCategoryId" value="GUID" />
	</appSettings>

	<connectionStrings>
		<add name="InHouse"
		     connectionString="CONNECTIONSTRING"
		     providerName="System.Data.SqlClient" />
		<add name="MainDB"
		     connectionString="CONNECTIONSTRING"
		     providerName="System.Data.SqlClient" />
		<add name="MainDB_test"
		     connectionString="CONNECTIONSTRING"
		     providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
